@media (min-width: 0px) and (max-width: 768px) {
    .nav {
        padding: 8px;
    }

    .menu {
        position: fixed;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: calc(100vh - 90px);
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 500ms ease-in-out;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    nav ul li a {
        color: #fff;
    }

    #hamburger,
    #close-menu {
        position: absolute;
        right: 5%;
        top: 35%;
        opacity: 1;
        visibility: visible;
        font-size: 24px;
        transition: all 200ms ease-in;
    }

    #close-menu {
        transform: rotate(0deg);
        transition: all 500ms ease-in;
        opacity: 0;
        visibility: hidden;
    }

    .body-class {
        overflow: hidden !important;
    }

    /* header ends */

    .banner-img,
    .overlay {
        transition: all 500ms ease-in-out;
    }

    /* hero content */

    .hero-content {
        padding-bottom: 5px;
    }

    .hero-content h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        padding: 10px 0px;
        margin: 10px 0px;
    }

    /* bake content */

    .bake-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 50px 10px;
    }

    .bake-content-left {
        padding: 0px;
    }

    .bake-content-right h1 {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .bake-content-right p:nth-child(4) {
        margin-bottom: 8px;
    }

    .bake-content-right {
        display: none;
    }

    /* available items */

    .available-items {
        text-align: center;
        padding: 50px 10px;
        overflow: hidden;
    }

    .available-items p {
        padding-bottom: 40px;
    }

    .available-items .check-menu {
        margin-top: 25px;
        padding-bottom: 10px;
    }

    .available-items-container {
        position: relative;
        justify-content: initial;
    }

    .items-left,
    .items-right {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25%;
    }

    .items-left {
        left: -20%;
    }

    .items-right {
        right: -20% !important;
    }

    .available-items-img {
        display: none;
    }

    .available-items-slider {
        display: block;
    }

    /* video section */

    .video-section {
        width: 100%;
        padding: 20px 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: scroll;
    }

    .video-content-left p {
        display: none;
    }

    .video-content-left h1 {
        text-align: center;
        font-size: 2.25rem;
    }

    .video-content-left .check-menu {
        display: none;
    }

    .video-check-menu {
        display: block;
    }

    .video-content-right {
        width: 100%;
        height: 70vh !important;
        margin: 0;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    .video-content-right video {
        height: 100% !important;
        /* height: 100%; */
        width: 100%;
    }

    /* review section */

}