@media (min-width: 0px) and (max-width: 768px) {

    h1 {
        font-size: 2.1rem !important;
        line-height: 45px !important;
    }

    nav {
        width: 100%;
        padding: 8px;
    }

    .menu {
        position: fixed;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: calc(100vh - 90px);
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 500ms ease-in-out;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    nav ul li a {
        color: #fff;
        font-size: 1rem;
    }

    #hamburger,
    #close-menu {
        position: absolute;
        right: 5%;
        top: 35%;
        opacity: 1;
        visibility: visible;
        font-size: 24px;
        transition: all 200ms ease-in;
    }

    #close-menu {
        transform: rotate(0deg);
        transition: all 500ms ease-in;
        opacity: 0;
        visibility: hidden;
    }

    .body-class {
        overflow: hidden !important;
    }

    /* header ends */

    .banner-img,
    .overlay {
        transition: all 500ms ease-in-out;
    }

    /* hero content */

    .hero-content {
        padding-bottom: 5px;
    }

    .hero-content h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        padding: 10px 0px;
        margin: 10px 0px;
    }

    /* bake content */

    .bake-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 50px 10px;
    }

    .bake-content-left {
        padding: 0px;
    }

    .bake-content-right h1 {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .bake-content-right p:nth-child(4) {
        margin-bottom: 8px;
    }

    .bake-content-right {
        display: none;
    }

    /* available items */

    .available-items,
    .review-heading {
        text-align: center;
        padding: 50px 10px;
        overflow: hidden;
    }

    .available-items p {
        padding-bottom: 40px;
    }

    .available-items .check-menu {
        margin-top: 25px;
        padding-bottom: 10px;
    }

    .available-items-container {
        position: relative;
        justify-content: initial;
    }

    .items-left,
    .items-right {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25%;
    }

    .items-left {
        left: -20%;
    }

    .items-right {
        right: -20% !important;
    }

    .available-items-img {
        display: none;
    }

    .available-items-slider {
        display: block;
    }

    /* video section */

    .video-section {
        width: 100%;
        padding: 20px 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: scroll;
    }

    .video-content-left p {
        display: none;
    }

    .video-content-left h1 {
        text-align: center;
        font-size: 2.25rem;
    }

    .video-content-left .check-menu {
        display: none;
    }

    .video-check-menu {
        display: block;
    }

    .video-content-right {
        width: 100%;
        height: 70vh !important;
        margin: 0;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    .video-content-right video {
        height: 100% !important;
        /* height: 100%; */
        width: 100%;
    }

    /* review section */

    .reviews {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .review-heading {
        padding: 0px 0px 25px;
    }

    .review-content {
        padding: 0px 15px;
    }

    /* blog container */
    .blog-container {
        width: 100%;
        overflow: hidden;
        padding: 0px 15px;
    }

    .blog-container h1 {
        font-size: 2.3rem;
        margin-top: 30px;
    }

    .blog-container p {
        padding: 0px 0px 30px;
    }

    .blog-post-container:nth-child(1),
    .blog-post-container:nth-child(3) {
        display: none;
    }

    /* footer */

    .inner-footer {
        padding: 10px 20px;
    }

    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .footer-about {
        margin: 40px 0px;
    }

    .newsletter {
        margin: 0px 0px 30px;
    }


    .footer-last {
        margin: 40px 0px;
    }

}

@media (min-width: 769px) and (max-width: 1200px) {

    h1 {
        font-size: 2rem !important;
        line-height: 45px !important;
    }

    nav {
        width: 100%;
        padding: 5px 18px;
    }

    nav ul li a {
        font-size: 0.9rem;
        font-weight: 500;
    }

    /* header ends */

    /* hero content */

    .hero-content h1 {
        padding: 15px 0px;
        margin: 10px 0px;
    }

    /* bake content */

    .bake-content-right {
        display: none;
    }

    /* available items */

    .available-items {
        width: 100%;
        padding: 30px 20px;
    }

    .available-items p,
    .blog-container p {
        padding: 10px 0px 25px;
    }

    .available-items .check-menu {
        margin: 5px 40px;
    }

    .available-items-slider {
        display: none;
    }

    /* video section */

    .video-section {
        width: 100%;
        padding: 20px 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* overflow: scroll; */
    }

    .video-content-left p {
        display: none;
    }

    .video-content-left h1 {
        text-align: center;
    }

    .video-content-left .check-menu {
        display: none;
    }

    .video-check-menu {
        display: block;
    }

    .video-content-right {
        width: 65%;
        height: 350px !important;
        margin: 0;
    }

    /* review section */

    .reviews {
        width: 100%;
    }

    .review-heading {
        padding: 0px 0px 25px;
    }

    .review-content {
        padding: 0px 20px;
    }

    /* blog container */
    .blog-container {
        width: 100%;
        overflow: hidden;
        padding: 0px 20px;
    }

    .blog-container h1 {
        margin-top: 30px;
    }

    .blog-post-container:nth-child(3) {
        display: none;
    }

    .blog-post-container:nth-child(1) {
        display: block !important;
    }

    /* footer */
    .inner-footer {
        padding: 40px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-about {
        min-width: 245px;
    }

    input[type=email] {
        padding: 9px 18px;
        min-width: 256px;
        border: none;
        outline: 0;
    }

    .newsletter {
        margin: 0px 0px 30px;
    }


    .footer-last {
        margin: 10px 0px;
    }
}