* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    z-index: 888;
    position: fixed;
    top: 0%;
    background-color: #fff;
    box-shadow: 0px 0px 5px #999;
}

#hamburger {
    opacity: 0;
    visibility: hidden;
}

#close-menu {
    opacity: 0;
    visibility: hidden;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li a {
    color: #222;
    font-size: 0.8rem;
    font-weight: 500;
}

/* hero section */

.hero {
    position: relative;
}

.banner-img {
    background: url(../images/banner-bg.jpg) center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    color: #fff;
    z-index: 2;
}

.hero-content p:first-child {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-content p:last-child {
    margin: 0px 10px 16px;
}

.hero-content p {
    font-size: 0.9rem;
    font-weight: 400;
    max-width: 900px;
}

.hero-content h1 {
    margin: 20px 0px;
    border-bottom: 1px solid #d1ab7f;
    border-top: 1px solid #d1ab7f;
    font-size: 4.5rem;
    line-height: 5.65rem;
}

.check-menu,
.video-check-menu {
    text-transform: uppercase;
    padding: 10px 30px;
    z-index: 2;
    background: #d1ab7f;
    color: #fff;
    border: none;
    transition: all 300ms ease;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
}

.banner-img .check-menu:hover {
    background: transparent;
    border: 1px solid white;
    color: #fff;
}

/* bake-content section */

.bake-content,
.video-section {
    max-width: 1400px;
    margin: auto;
    display: flex;
    padding: 7.5rem 0px 7.5rem 6rem;
    justify-content: space-between;
}

.bake-content-left,
.video-content-left {
    max-width: 800px;
    padding-left: 20px;
}

.bake-content-left p:first-child,
.video-content-left p:first-child {
    text-transform: uppercase;
    color: #d1ab7f;
    font-size: 0.9rem;
}

.bake-content-left h1,
.video-content-left h1 {
    font-size: 2.25rem;
    max-width: 900px;
    padding: 20px 0px;
    font-weight: 600;
}

.bake-content-left p:nth-child(3),
.bake-content-left p:nth-child(4),
.video-content-left P:nth-child(3),
.video-content-left p:nth-child(4) {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.bake-content-left p:nth-child(4),
.video-content-left p:nth-child(4) {
    color: #777;
}

.bake-content-left .check-menu,
.video-content-left .check-menu {
    margin-top: 1rem;
}

.check-menu:hover {
    background: white;
    border: 1px solid #d1ab7f;
    color: #d1ab7f;
}

/* available-items */

.available-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f9f9ff;
    padding: 120px 0px;
}

.available-items h1 {
    color: #222;
    font-size: 2.25rem;
    font-weight: 550;
}

.available-items p {
    font-weight: 400;
    color: #777;
    font-size: 0.9rem;
    padding-bottom: 80px;
}

.items-left,
.items-right {
    display: none;
}

.available-items-container {
    display: flex;
    gap: 50px;
}

.available-items-img,
.available-slider-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 250px;
}

.available-items-img img,
.available-slider-img img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.available-items-img h4,
.available-slider-img h4 {
    color: #222;
    font-size: 1.13rem;
    padding: 20px 0px;
}

.available-items-img p,
.available-slider-img p {
    color: #777;
    padding: 0px;
    font-weight: 300;
    text-align: center;
}

.available-items .check-menu {
    margin-top: 80px;
}

.available-items-slider {
    display: none;
}

/* video section */

.video-content-left h1 {
    max-width: 400px;
}

.video-content-left p:nth-child(4) {
    max-width: 550px;
}

.video-content-left .check-menu,
.video-check-menu {
    background-color: #000;
}

.video-check-menu:hover, .video-check-menu:active {
    background-color: white;
    border: 1px solid #d1ab7f !important;
    color: #d1ab7f;
}


.video-check-menu {
    margin-top: 30px;
    display: none;
}

.video-content-left .check-menu:hover {
    background-color: #fff;
}

.video-content-right {
    width: 600px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 50px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.video-content-right video {
    object-fit: fill;
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

#playBtn,
#pauseBtn {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    top: 44%;
    left: 44%;
    cursor: pointer;
    transition: 200ms ease-in;
}

#playBtn:hover,
#pauseBtn:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255);
}

#playBtn:active,
#pauseBtn:active {
    color: #e9e6e6;
}

#pauseBtn {
    opacity: 0;
    visibility: hidden;
}